---

---

<footer>
    <p>© {new Date().getFullYear()} <span>Rumind Visuals</span>.</p>
</footer>

<style is:global>
    footer {
        width: 100%;
        font-family: var(--accent-font);
        text-align: center;
        padding: 1em 0;
        font-size: 0.875rem;
        color: var(--text-color);
        border-top: 1px solid #333;
        margin-top: 2em;
    }

    footer span {
        color: var(--accent-color);
    }
</style>
