---

---

<footer id="main-footer">
    <div class="container">
        <p>&copy; 2025 Erik Ramirez.</p>
    </div>
</footer>

<style is:global>
    #main-footer {
        background-color: var(--color-secondary);
        text-align: center;
        padding: 1.5rem 0;
        margin-bottom: 46px;
        color: var(--color-gray-600);
        border-top: var(--border-glass);
        font-family: var(--font-secondary);
    }

    @media (min-width: 768px) {
        #main-footer {
            margin-bottom: 0px;
        }
    }
</style>
