---
import HomeIcon from "../components/icons/Home.astro";
import AboutIcon from "../components/icons/About.astro";
import BlogIcon from "../components/icons/Blog.astro";
import ProjectsIcon from "../components/icons/Projects.astro";
import ContactIcon from "../components/icons/Contact.astro";
---

<header>
    <a href="/"><h1>Rumind<span>Visuals</span></h1></a>
    <nav>
        <ul>
            <li>
                <a href="/"><HomeIcon /><span>Home</span></a>
            </li>
            <li>
                <a href="#about"><AboutIcon /><span>About</span></a>
            </li>
            <li>
                <a href="/blog"><BlogIcon /><span>Blog</span></a>
            </li>
            <li>
                <a href="#projects"><ProjectsIcon /><span>Projects</span></a>
            </li>
            <li>
                <a href="/contact"><ContactIcon /><span>Contact</span></a>
            </li>
        </ul>
    </nav>
</header>

<style is:global>
    header {
        width: 100%;
        height: 46px;
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        position: fixed;
        bottom: 0;
        z-index: 100;
        background-color: var(--background-color);
        border-top: 0.3rem solid var(--accent-color);
    }

    header > a {
        display: none;
    }

    header nav {
        width: 100%;
        height: 100%;
    }

    header nav ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    header nav ul li {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
    }

    header nav ul li a {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-decoration: none;
        color: var(--accent-color);
        font-size: 0.75rem;
        font-weight: 500;
        transition:
            color 0.3s,
            bottom 0.3s;
        cursor: pointer;
        box-sizing: border-box;
        position: relative;
        bottom: 0.8rem;
        z-index: 101;
    }

    header nav ul li a:hover {
        color: var(--accent-color);
        bottom: 0.25rem;
    }

    header nav ul li a svg {
        width: 2.8rem;
        height: 2.8rem;
        margin-bottom: 0.2rem;
        border-radius: 50%;
        border: 0.2rem solid var(--accent-color);
        background-color: var(--background-color);
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);
        display: block;
        object-fit: cover;
        position: relative;
        z-index: 102;
        transition:
            transform 0.3s,
            background-color 0.3s,
            border-color 0.3s;
        padding: 0.5rem;
    }

    header nav ul li a:hover svg {
        transform: scale(1.1);
        background-color: var(--accent-color);
        color: var(--background-color);
        border-color: var(--accent-color);
    }

    header nav ul li a span {
        display: none;
    }

    header nav ul li a:hover span {
        display: block;
        font-size: 0.75rem;
        font-weight: 500;
        color: var(--accent-color);
        margin-top: 0.2rem;
    }

    @media (min-width: 768px) {
        header {
            height: 72px;
            padding: 0 3rem;
            border-top: none;
            background-color: rgba(0, 0, 0, 0);
            top: 0;
            box-sizing: border-box;
            overflow: hidden;
        }

        header > a {
            display: block;
        }

        header > a h1 {
            padding: 0 1.5rem 0 0;
        }

        header h1,
        header h1 span {
            font-size: 1.5rem;
            color: var(--text-color);
            font-weight: 700;
            margin: 0;
        }

        header h1 span {
            color: var(--accent-color);
        }

        header nav {
            width: auto;
            margin-left: auto;
        }

        header nav ul {
            display: flex;
            gap: 1.5rem;
            justify-content: flex-end;
            align-items: center;
            background: none;
        }

        header nav ul li {
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        header nav ul li a {
            font-size: 1rem;
            bottom: 0;
            flex-direction: row;
            gap: 0.5rem;
            background: rgba(30, 30, 40, 0.45);
            border-radius: 1rem;
            padding: 0.5rem;
            border: 0.3rem solid rgba(255, 255, 255, 0.08);
            backdrop-filter: blur(8px);
            transition:
                color 0.3s,
                background 0.3s,
                border-color 0.3s;
            align-items: center;
            justify-content: center;
        }

        header nav ul li a:hover {
            bottom: 0;
            background: var(--accent-color);
            border-color: var(--accent-color);
        }

        header nav ul li a svg {
            display: none;
        }

        header nav ul li a span {
            display: inline;
            font-size: 0.8rem;
            font-family: var(--accent-font);
            font-weight: 500;
            color: var(--text-color);
            margin-top: 0;
        }

        header nav ul li a:hover span {
            color: var(--background-color);
        }
    }
</style>
