---
import '../styles/normalize.css';
import Analytics from "../components/GoogleAnalytics.astro"
---
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Rumind Visuals</title>
	</head>
	<body>
		<h1>RumindVisuals</h1>
		<Analytics />
	</body>
</html>
